{
  "token": "",
  "owners": [],
  "prefix": [""],
  "guildBlacklist": [],
  "userBlacklist": [],
  "playing": "games!",
  "database": "",
  "dbname": "",
  "dbpass": "",
  "welcomewebhook": ""
  "suggwebhook": ""
}